@model LoginViewModel

@{
    ViewBag.Title = "Logga in";
}

<main id="main">

    <h3><span>Logga in</span></h3>

    @if(@ViewBag.Status == true)
    {         
        <h5>
            Du måste vara inloggad för att beställa !
        </h5>
    }

    <form asp-controller="Account" asp-action="Login" method="post">

        <div class="form-group">

            <h5 id="label-userform"><span>Användarnamn</span></h5>

            <input asp-for="UserName" type="text" class="form-control" id="input-loginform" placeholder="Ange användarnamn">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">

            <h5 id="label-userform"><span>Lösenord</span></h5>

            <input asp-for="Password" type="password" class="form-control" id="input-loginform" placeholder="Lösenord">
            <span asp-validation-for="Password" class="text-danger"> 
                @if(@ViewBag.Message != "")
                {
                    @ViewBag.Message
                }
            </span>
        </div>

        <button id="button-userform" type="submit" class="btn btn-primary">Logga in</button><br />
    </form>
        
    <small id="accountHelp" class="form-text text-muted">
        Har du inget konto? Registrera dig
        <a asp-controller="Account" asp-action="Register" id="button-register-form">här</a>
    </small>
        
</main>
