@{
	ViewBag.Title = "Om oss";
}

<main id="main">

	<h3><span>Om oss</span></h3>

	<h5><span>Välkommen till Tomasos pizzeria, en värld fylld av smaker...</span></h5> 

	<p>
		<span>
			<strong>R</strong>edan som ung fick Tomaso Pratos lära sig att baka färska, hemlagade italienska pizzor utav sin mamma. <br />
			Under kriget separerades Tomaso från familjen och fick alldeles ensam immigrera till Montreal och <br />
			efter många år i byggbranschen bestämde sig Tomaso för att flytta till Halifax. <br /><br />

			Med minnen från sin uppväxt i Pontecorvo, Italien (halvvägs mellan Rom och Neapel. Samt det ärvda <br />
			familjereceptet som gått i arv under flera generationer tillbaka i sin hand, tog Tomaso äntligen <br />
			beslutet för att öppna Tomasos Pizzeria. <br /><br />
			
			<strong>Å</strong>r 1969, slog Tomasos Pizzera upp dörrarna till sin nyöppnade restaurang att förbli trogen till sina <br />
			italienska rötter. Med hjälp av sin mammas hemliga familjerecept från tidigt 1900-tal, <br />
			lagar Tomaso en pizza känd för sin rika, klassiska smak. Tomasos höga krav på kvalitet och smak <br />
			har bestått i årtionden, vilket gör Tomaso's till den äldsta pizzerian i Halifax, Nova Scotia. <br /><br />

			Sedan dess har flera nya gourmetpizzor lagts till på menyn som gjort Tomasos till en lokal favorit. <br>
			Efter många år fortsätter Tomaso's att briljera med en ren arbetsmiljö, välutbildad personal och bra kundservice. <br /><br />
	
			<strong>F</strong>ör att inte tala om - pizzorna bakas och gräddas färskt <strong>varje</strong> dag!<br /><br />
		</span>
	</p>

</main>