@{
	ViewBag.Title = "Kontakt";
}

<main id="main">

	<h3><span>Kontakt</span></h3>

	<h5><span>Adress</span></h5>

	<iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1418.536304920726!2d-63.64945!3d44.677296000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ea1bda46b5a84d6!2sTomaso&#39;s%20Pizzeria!5e0!3m2!1ssv!2sse!4v1644692115283!5m2!1ssv!2sse" loading: lazy;>
	</iframe>

	<h5><span>Ring & beställ</span></h5>
	<p>Telefon:<a href=tel:0858165613> 08-581 656 13</a></p>
	<p>E-post: <a href="mailto:tomasos@pizzeria.se"> Tomasos@pizzeria.se</a></p>

	<h5><span>Öppettider</span></h5>
	<p>Mån-Fre: 10:00–21:00</p>
	<p>Lör-Sön: 11:00–21:00</p>

	<br />

</main>



